<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
  <title>Message Details</title>
</head>
<body>
  <div class="msg-container">
    <p class="msg-text">Message: <%= message.text %></p>
    <p class="msg-user">User: <%= message.user %></p>
    <p class="added-date">Date: <%= message.added.toLocaleString() %></p>
    <a href="/"><button>Back to main page</button></a>
  </div>
</body>
</html>