<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
  <title>Message Details</title>
</head>
<body>
  <h1><%= title %></h1>

  <div class="msg-container">
    <p class="msg-text">Message: <%= selectedMsg.message %></p>
    <p class="msg-user">User: <%= selectedMsg.username %></p>
    <% if (selectedMsg.added) { %>
      <p class="added-date">Date: <%= selectedMsg.added.toLocaleString() %></p>
    <% } %>
  </div>
</body>
</html>